
.highlight{
  border: 6px solid#FF0;
}

::ng-deep{
  .mat-card-header-text {
    width: 100% !important;
  }
  .carousel-list{
    min-height: 200px!important;
  }
  .carousel-indicators{
    bottom: 28px!important;
  }
  .carousel> button{
    bottom: 0px!important;
    top: unset!important;
  }
  .carousel-slide-content, .carousel-slide {
    min-height: 100px!important;
  }
  .carousel > button:first-of-type{
    left: 6px!important;
    color: #70bd00;
  }
  .carousel > button:last-of-type{
    right: 6px!important;
    color: #70bd00;
  }
  .mat-mini-fab.mat-accent {
    background-color: #70bd00;
  }
}

.add-note{
  width: 35px;
  height: 35px;
  line-height: 14px;
  font-size: 14px;
  background: #70bd00;

  &::ng-deep .mat-button-wrapper{
    line-height: 14px;
    padding: 0;

    .mat-icon {
      font-size: 20px;
      padding-right: 0px;
      padding-top: 3px;
    }
  }
}
.content{
  width: 100%;
  p{
    width: 75% !important;
    min-height: 100px;
    background: #d1f0a4;
    padding: 10px;
    margin: auto;
    line-height: 23px;
    max-height: 120px;
    overflow-y: auto;
  }
  .edit-note{
    position: absolute;
    top: 7px;
    right: 5px;
  }
  .delete-note{
    position: absolute;
    top: 35px;
    right: 5px;
  }
}
.mat-card{
  background: #e1e5dd;
  padding: 8px 16px;
}
