.mat-card{
  background: #e1e5dd;
  padding: 8px 16px;
}
.add-goal{
  background: #70bd00;
}
.add-goal, .edit-goal, .delete-goal {
  width: 35px;
  height: 35px;
  line-height: 14px;
  font-size: 14px;

  &::ng-deep .mat-button-wrapper{
    line-height: 14px;
    padding: 0;

    .mat-icon {
      font-size: 20px;
      padding-right: 0px;
      padding-top: 3px;
    }
  }
}
.mat-list-base .mat-list-item{
  background: #d3d7cd;
  margin: 5px 0px;
  border: 1px solid #abbb92;
  box-shadow: 1px 5px 5px #c1c1c1b8;
  max-width: 97%;
  height: auto !important;
  padding: 6px 0px;
}
.mat-list{
  max-height: 150px;
  overflow-y: auto;
}


.highlight{
  border: 6px solid#FF0;
}